/* Global Styles */
@import "~antd/dist/antd.css";

/* Component Styles*/
@import "./Search/index.css";
@import "./DrawerContent/index.css";

.logo {
  float: left;
  width: 240px;
  height: 62px;
  background: center / contain no-repeat;
  background-image: url("../assets/rp-trans.png");
}
