/* Global Styles */
@import "~antd/dist/antd.less";

/* Component Styles*/
@import "./Search/index.less";
@import "./DrawerContent/index.less";

@desktop: ~"only screen and (min-width: 960px)";
@mobile: ~"only screen and (min-width: 360px) and (max-width: 959px)";

html,
body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
}

.site-layout {
  margin-top: 64px;
  @media @desktop {
    padding: 0 48px;
  }
  @media @mobile {
    padding: 0 8px;
  }
}

.logo {
  float: left;
  width: 240px;
  height: 62px;
  background: center / contain no-repeat;
  background-image: url("../assets/rp-trans.png");
}

span.ant-input-group-wrapper {
  margin: auto;
  padding: 1rem;
}

#root > section > main > div > div.ant-row.ant-row-space-between.ant-row-stretch.feed-row {
  @media @mobile {
    margin: 0 auto !important;
    width: max-content;
    max-width: 100vw;
  }
}
