.search-card {
  @media @desktop {
    max-width: 25vw;
  }
  @media @mobile {
    max-width: 80vw;
  }

  .ant-card-cover {
    overflow: hidden;
  }
}

.search-card-image {
  width: 100%;
  height: auto;
  display: block;
}

.ant-card-body {
  @media @desktop {
    padding: 24px;
  }
  @media @mobile {
    padding: 4px;
  }
}
